{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">TOTAL</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}
          <tr id={{ stocks.id }}>
            <th scope="row">{{ stock.symbol }}</th>
            <td>{{ stock.name }}</td>
            <td>{{ stock.q_shares }}</td>
            <td>{{ current_price[stock.symbol] }}</td>
            <td>{{ total_share[stock.symbol] }}</td>
          </tr>
        {% endfor %}
        <tr>
          <th scope="row">CASH</th>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ cash }}</td>
        </tr>
        <!--<tr>-->
        <!--  <th scope="row">3</th>-->
        <!--  <td>Larry</td>-->
        <!--  <td>the Bird</td>-->
        <!--  <td>@twitter</td>-->
        <!--  <td>@mdo</td>-->
        <!--</tr>-->
      </tbody>
      <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{ sum_total }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}